*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

header{
	width: 100%;
	background:#dddddd;
	background-size: cover;
	position: relative;
  overflow: hidden;
}
.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}
.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}
nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}
.login{
  background-color: #ff5e14;
  padding: 10px;
}
.signup{
  background-color: #ff5e14;
  padding: 10px;
}
.brand-logo{
	position: relative;
  bottom: 19px;
}

nav ul{
	display: flex;
  margin-top: -17px;
}
nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}
nav ul li:nth-child(1){
	animation-delay: 0s;
}
nav ul li:nth-child(2){
	animation-delay: .5s;
}
nav ul li:nth-child(3){
	animation-delay: 1s;
}
nav ul li:nth-child(4){
	animation-delay: 1.5s;
}
nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}
nav ul li a:last-child{
	margin-right: 0;
}
nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}
nav ul li a::before{
	top: 0;
	transform-origin: left;
}
nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}
.overlay{
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}
@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}
	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}
	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}
	nav ul li a{
		margin: 0;
		font-size: 2rem;
	}
	.brand{
		font-size: 5rem;
	}
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}
/* second section */

.col-main {
  flex: 1;  
}  

.col-complementary {
  flex: 1;  
}
.second-section{
	margin-top: 100px;
	margin-bottom: 40px;
}
.hero-image{
  	max-width: 100%;
  height: auto;
}
.top-text-condent{
	padding: 10px;
	margin-top: 10px;
}
.top-sec-heading{
	width: 100%;
    font-size: 42px;
    font-weight: 500;
    line-height: 1.6;
}
.all-in-one-txt{
	color: #003366;
	font-weight: 700;
}
.googleplay-button{
   float: left;
    padding: 6px 26px 6px 14px;
    border: 1px solid gray;
    transition: 0.5s all;
} 
.get-it-on-txt{
	display: block;
	color: #003366;
	font-size: 12px;
	text-align: left;
} 
.googleplay-txt{
	display: block;
    color: var(--main-primary-color);
    font-size: 20px;
    font-weight: 600;
}
.button-content{
	display: inline-block;
    vertical-align: middle;
}	
/* Responsive: */

@media only screen and (min-width: 640px) {
  .second-section{
    display: flex;
  }
}

.col {
  padding: 1em;
  margin: 0 2px 2px 0;
}
/* corosel */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.payment-heading{
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 50px;
}
.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
}
.slider .slide {
  height: 100px;
  width: 250px;
}
.thired-section{
	margin-top: 50px;
	max-width: 170rem;
	width: 95%;
	margin: 0 auto;
}
.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.text-condent h1{
	margin-bottom:21px;
	font-size: 28px;
	font-weight: 600;
	color: #003366;
}
.text-condent p{
    font-size: 16px;
    line-height: 29px;
    color: #003366;
}

/*card*/
.card-title{
	float: left;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: var(--main-text-color);
    line-height: 24px;
}
.card-text{
	float: left;
    width: 100%;
    color: var(--main-secondary-color);
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
}
.qr-icon{
	background-image: url(../images/card-icons/qr-icon.svg);
	height: 24px;
    width: 24px;
    float: left;
}
.cashrec-icon{
	background-image: url(../images/card-icons/cashrec-icon.svg);
	height: 24px;
    width: 24px;
    float: left;
    
}
.paylink-icon{
	background-image: url(../images/card-icons/paylink-icon.svg);
	height: 24px;
    width: 24px;
    float: left;   
}
.tap-icon{
	background-image: url(../images/card-icons/tap-icon.svg);
	height: 24px;
    width: 24px;
    float: left;   
}
.location-icon{
	background-image: url(../images/card-icons/location-icon.svg);
	height: 24px;
    width: 24px;
    float: left;   
}
.business-account{
  background-image: url(../images/card-icons/banking-icon.svg);
  height: 24px;
    width: 24px;
    float: left;   
}
.debit-card{
  background-image: url(../images/card-icons/debit-icon.svg);
  height: 24px;
    width: 24px;
    float: left;   
}
.payouts{
  background-image: url(../images/card-icons/payouts-icon.svg);
  height: 24px;
    width: 24px;
    float: left;   
}
.vendar-payments{
  background-image: url(../images/card-icons/vendors-icon.svg);
  height: 24px;
    width: 24px;
    float: left;   
}
.salary-disbursements{
  background-image: url(../images/card-icons/salary-icon.svg);
  height: 24px;
    width: 24px;
    float: left;   
}
.card-block{   
    padding-left: 28px;
    margin-top: -24px;
}
.card{
	padding: 20px;
}
.collect-payment{
    width: 100%;
    font-size: 36px;
    font-weight: 600;
}

/*gallery */

.features-heading{
	width: 100%;
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 50px;
}
.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.gallery-section {
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .gallery-section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .gallery-section {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  background-size: contain;
}
.item:nth-of-type(3n) {
  background-image: url(../images/gallery/audio-notify.svg);
}
.item:nth-of-type(5n) {
  background-image: url(../images/gallery/new_multiplelang.svg);
}
.item:nth-of-type(6n) {
  background-image: url("");
}
.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
  background-image: url(../images/gallery/ledger-img.svg);
}
.item--large {
  grid-row-end: span 3;
  background-image: url(../images/gallery/epos-img.svg);
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
 /* text-transform: lowercase;*/
  letter-spacing: 1px;
  color: #000;
}

/*----------------------homepage-slider---------------------------*/
.homepage-slider{
 /* margin-top: 34px;
  margin-bottom: 83px;*/
}
.shadow{
  box-shadow: 5px 5px #fd3838;
}

.homepage-slider-container{
  height: 421px;
  overflow: hidden;
  position: relative; 
  animation: 0.4s 0.2s both fadeIn;
}

.Manualslider{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: 12s linear infinite sliderAnimation;
  box-sizing: border-box;
  display: flex;
}

.Manualslider:first-of-type{
  background: no-repeat 50% 20%/cover url('../images/fade-img/new-paymentlink.svg');
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}
.Manualslider:nth-of-type(2){
  background: no-repeat center/cover url('../images/fade-img/new-qrcode.svg');
  animation-delay: -9s;
  width: 100%;
}

.Manualslider:nth-of-type(3){ 
  background: no-repeat center/cover url('../images/fade-img/new-subuser.svg');  
  animation-delay: -6s;  
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.Manualslider:last-of-type{
 background: no-repeat bottom/cover url('../images/fade-img/new-taptopay.svg');
 animation-delay: -3s;  
 justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes sliderAnimation{
  /* 4 slides, 20% in place and 5% transition time = 100% */
  0%{transform: translateX(0); opacity: 1;}
  20%{transform: translateX(0); opacity: 1;} 
  25%{transform: translateX(-100%); opacity: 1;} 
  70%{transform: translateX(-100%); opacity: 0;} 
  71%{transform: translateX(100%); opacity: 0;} 
  95%{transform: translateX(100%); opacity: 1;} 
}

/*----------------------homepage-slider end---------------------------*/

/*Benifits*/
.align-right-img{
	float: right;
    margin-top: 2px;
}
.benefits-headings{	
    width: 100%;
    margin-bottom: 12px;
    font-size: 25px;
    font-weight: 600;
    color: #003366;
}
.benefits-text-condent{
  font-size: 15px;
  font-weight: 600;
}
/*full page image*/
.full-page-sec{
	float: left;
    width: 100%;
    padding: 200px 0px 80px 0px;
}
.ip-blue-bg-sec{
	float: left;
    width: 100%;
    background-color: #003366;
}
.full-page-sec-heading{
	float: left;
    width: 100%;
    color: #add3ff;
    font-size: 20PX;
    font-weight: 400;
    margin: 50px 0px 10px 0px;
}
.full-page-sec-desc{
	float: left;
    width: 100%;
    font-size: 56PX;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 15px;
}
.full-page-sec-sub-desc{
	float: left;
    width: 100%;
    font-size: 36PX;
    font-weight: 400;
    color: #add3ff;
}
.gplay {
    float: left;
    margin-top: 50px;
}
.google-play{
  margin-top: 40px;
  margin-bottom: 40px;
}
.full-page-sec-mobile {
    float: right;
    margin: -493px -595px 21px 0px;
}
@media (max-width: 767px){
 
.visible-img {
    display: none !important;
}
.full-page-sec-desc{
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.full-page-sec-sub-desc{
  font-size: 16px;
  text-align: center;
}
.top-sec-heading{
  font-size: 30px;
}
.googleplay-button{
  margin-top: -31px;
}
.payment-heading{
  font-size: 27px;
  font-weight: 700;
}
.slider{
  margin-top: -30px;
    margin-bottom: -66px;
}
.payment-heading-res{
  font-size: 25px;
  text-align: left;
  font-weight: 700;
}
.features-heading{
  font-size: 27px;
  font-weight: 700;
}
.align-right-img{
  text-align: center !important;
    float: none;
}
.google-play{
  position: relative;
  left: 50px;
}
}
/*our clinds*/
.wrap {
  padding: 4.8rem;
  position:relative;
  width: 90%;
}
h2 {
  font-size:2.6rem;
  font-weight: 600;
  text-align:center;
}
.clients {
    align-items: center;
    -webkit-box-align: center;
    display: grid;
    gap: 4.8rem 4.8rem;
    grid-template-columns: auto auto;
    justify-items: center;
    margin: 4.8rem auto;
    max-width: 1024px; }

.clients li {
  list-style: none;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.clients img {
  height: 3.2rem;

}
.clients:hover li {
filter: blur(0px);
-webkit-filter: blur(0px);
}
.clients:hover li:not(:hover)  {
filter: blur(2px);
-webkit-filter: blur(2px);
}
.clients li:hover {
-webkit-transform: translateY(-0.3rem);
transform: translateY(-0.3rem); 
}

@media (min-width: 1024px) {
.clients {
    grid-template-columns: auto auto auto auto; }
    
.clients img {
  height: 4rem; }}


.clients img {
  -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
          filter: grayscale(100%) brightness(10%) contrast(10%); }

.clients img:hover {
  background: none;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
/*footer*/

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
